{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Index page
{% endblock %}

{% block content %}
    Hello, {{ current_user.email }} !
    <hr>

    Template filter: <br>
    '1234567890', {{ '1234567890' | reverse }}
    <hr>

    Context processor: <br>
    {{ format_price(12.34) }}
    <hr>

    Flasing messages:

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li>{{ category }}: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}
