{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
   New post
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form action="{{ url_for('posts.create_post') }}" method="post">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}

                    {% if field.errors %}
                        <ul class=errors>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success mt-3">Create</button>
        </form>
    </div>

{% endblock %}