{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}

{% block content_title %}
   Edit post
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form action="{{ url_for('posts.edit_post', slug=post.slug) }}" method="post">

            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success mt-3">Save</button>
        </form>
    </div>

{% endblock %}