{% extends 'base.html' %}

{% block title %}
 {{ post.title }}
{% endblock %}

{% block content_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="tags">
        {% for tag in tags %}
        <a href="{{ url_for('posts.tag_details', slug=tag.slug) }}">
            <span class="badge bg-primary">{{ tag.name }}</span>
        </a>
        {% endfor %}
    </div>

    {{ post.body }}
{% endblock %}
